[alias]
  st = status -s
  lsd = log --graph --decorate --pretty=oneline --abbrev-commit --all
[user]
  name = Jon Börjesson
  email = jon@spuun.se
[color]
  ui=true
[core]
  editor = vim
  excludesfile = ~/.gitignore_global
  attributesfile = ~/.gitattributes
[merge "keepMine"]
  name = always keep mine during merge
  driver = keepMine.sh %O %A %B
