[alias]
  st = status -s
  lsd = log --graph --decorate --pretty=oneline --abbrev-commit --all
  lg = log --all --decorate --oneline --graph
[init]
  defaultBranch = main
[user]
  name = Jon Börjesson
  email = jon@spuun.se
[color]
  ui=true
[core]
  editor = vim
  excludesfile = ~/.gitignore_global
  attributesfile = ~/.gitattributes
  hooksPath = ~/.git_global/hooks
  bare = true
[merge "keepMine"]
  name = always keep mine during merge
  driver = true
[advice]
  pushNonFastForward = false
[pull]
  rebase = true
[gpg]
  format = ssh
[rerere]
  enabled = true
[branch]
  sort = -committerdate
[column]
  ui = auto
[commit]
  gpgsign = true
[include]
  path = .gitconfig.local
[pager]
	branch = false
[branch "main"]
	pushRemote = you_have_disabled_push_for_this_branch_in_your_global_gitconfig
[branch "master"]
	pushRemote = you_have_disabled_push_for_this_branch_in_your_global_gitconfig
