[alias]
  st = status -s
  lsd = log --graph --decorate --pretty=oneline --abbrev-commit --all
	lg = log --all --decorate --oneline --graph
[init]
  defaultBranch = main
[user]
  name = Jon Börjesson
  email = jon@spuun.se
  signingkey = ~/.ssh/id_ed25519.pub
[color]
  ui=true
[core]
  editor = vim
  excludesfile = ~/.gitignore_global
  attributesfile = ~/.gitattributes
[merge "keepMine"]
  name = always keep mine during merge
  driver = true
[advice]
  pushNonFastForward = false
[pull]
  rebase = true
[gpg]
  format = ssh
